<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PDFV</title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>Sistema de punto de venta</h1>
		<form action="/login" method="post">
			<fieldset>
				<legend>Login Details</legend>
				<div>
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" required>
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" required>
				</div>
				<div>
					<button type="submit">Login</button>
				</div>
			</fieldset>
		</form>
	</body>
</html>

